section{
    scroll-snap-align: start;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column: 100vh 100vh 100vh;
}


.parallax {
    grid-area: "image" "text";
    justify-content: center;
}

.img{
    background-image: url(./logo5-01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 4vh;
}

.mySlides{
    display: none;
}

.slides{
    margin: 0vh 10vw 0vh 0vw;
}

.slideshow-container{
    grid-area: slide;
}

.slideshow-container img{
    border-radius: 18px;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next{
    right: 0;
    margin-right: 10vw;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}

.dot{
    cursor: pointer;
    height: 14px;
    width: 14px;
    margin: 0 2px;
    background-color: lightgrey;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover{
    background-color: #95b1b0;
    scale: 1.2;
}
  
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1s;
}

.reflection{
    justify-content: center;
    align-self: center;
}

.end .img{
    background-image: url(./logo\ 6-01.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 4vh;
}

.box{
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%, -50%);
}

.box span:nth-child(2){
    animation-delay: -0.2s;
}

.box span:nth-child(3){
    animation-delay: -0.4s;
}

.box span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #20160F;
    border-right: 1px solid #20160F;
    transform: rotate(45deg);
    animation: animate 2s infinite;
}

@keyframes animate{
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}